apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mlops
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: davidm094/mlops-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8501
          name: http
        env:
        - name: API_URL
          value: "http://api:8000"
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow:5000"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mlops
  labels:
    app: frontend
spec:
  type: NodePort
  ports:
  - port: 8501
    targetPort: 8501
    nodePort: 30501
    protocol: TCP
    name: http
  selector:
    app: frontend

