apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: mlops
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: davidm094/mlops-api:v4
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow:5000"
        - name: AWS_ACCESS_KEY_ID
          value: "any"
        - name: AWS_SECRET_ACCESS_KEY
          value: "any"
        - name: S3_ENDPOINT
          value: "http://seaweedfs-s3.mlops.svc:8333"
        - name: MLFLOW_S3_ENDPOINT_URL
          value: "http://seaweedfs-s3.mlops.svc:8333"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: mlops
  labels:
    app: api
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http
  selector:
    app: api

